<html>
    <title>Aruko login</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</html>
<body>
  <div class="topbar" style="display: flex">
    <div class="window" style="margin-top: 5%; margin-left: 10%;">
      <h2>Log in to your account</h2>

      <input type="text" class = "input1" id="name" placeholder="Name/email"
        style="width:50%">
      <br><br>
      <input type="password" class = "input1" id="pass" placeholder = "Password"
        style="width:50%">
      <br><br>
      <button id="login" class="button1"
        style="margin-left: 55%;margin-right: 5%">Log in</button>
    </div>
    <div class="logo" style="margin-top: 40px;">
      <img id="logo_aruko" src="/static/assets/aruko.png" alt="aruko">
    </div>
  </div>

  <div class="window" style="margin-left: 50%;">
    <h2>Register a new account</h2>

    <input type="text" class = "input1" id="reg_name" placeholder="example"
      style="width:50%">
    <label>@aruko.org</label>
    <br><br>
    <input type="password2" class = "input1" id="admin_pass" placeholder = "Secret admin password"
      style="width:50%">
    <input type="password" class = "input1" id="reg_pass" placeholder = "Password"
      style="width:50%">
    <br><br>
    <input type="password" class = "input1" id="reg_pass_conf" placeholder = "Password confirmation"
      style="width:50%">
    <br><br>
    <button id="register" class="button1"
      style="margin-left: 65%;margin-right: 5%">Register</button>

      <p id="err"></p>
      <p id="succ"></p>
  </div>




    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript">
    let btn = $("#register");
    let name = $("#reg_name");
    let pass = $("#reg_pass");
    let adminpass = $("#admin_pass");
    let pass_conf = $("#reg_pass_conf");

    btn.on("click",() => {
      if (pass.val() != pass_conf.val()) {
              $("#err").text("Passwords are not equal")
              $("#succ").text("")
              return
      }
        $.ajax({
            url:"submitRegister",
            type:"POST",
            dataType:"json",
            contentType : 'application/json',
            data:JSON.stringify({
                name:name.val(),
                pass:pass.val(),
                pass2:adminpass.val()
            }),
            error: (xhr, stat,err) => {
              $("#err").text(xhr.responseText)
              $("#succ").text("")
            },
            success: (data) => {
              $("#err").text("")
              $("#succ").text(err)
            }
        });
    });

    </script>

</body>
